@import 'colors.scss';

.part-left {
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
  border-left: 3px solid $primary;
}

.part-middle {
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
  border-left: 1px solid $secondary;
  border-right: 1px solid $secondary;
}

.part-right {
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
  border-right: 3px solid $primary;
}

.hover-shadow {
  transition: box-shadow .3s;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);

  &:hover {
    opacity: 1;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  }
}

.part-top {
  border-top: 3px solid $primary;
  border-right: 3px solid $primary;
  border-left: 3px solid $primary;
  border-bottom: 1px solid $primary;
}

.part-bottom {
  border-bottom: 3px solid $primary;
  border-right: 3px solid $primary;
  border-left: 3px solid $primary;
}

.part-border-bottom {
  border-bottom: 1px solid $primary;
}
