$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(216, 216, 216, 1);
$gray2: #a2a2a2;
$gray3: #7f7f7f;
$gray4: #dadada;

$primary: #2F38FF;
$secondary: #7A81FF;
$tertiary: #bbbfff;
$faint: lighten($primary, 40%);
