.logo, .logo-white {
  height: 3rem;
  max-width: 72vw;
}

svg.logo {
  padding-right: 1rem;
  padding-top: 0.5rem;
  margin-left: -0.5rem;
  width: 3rem;
}


#logo {
  width: 120px;
  border: none;
  padding-top: 0.5rem;
}

#logo-nav {
  border: none;
  width: 2rem;
}
