div.output_area .rendered_html table {
  margin-left: 0;
  margin-right: 0;
}

table.dataframe {
  color: $secondary;
  border: 1px solid $faint;
  font-family: 'Office Code Pro D', monospace;
  margin-left: -0.4em;
  position: relative;

  thead th {
    text-align: right;
  }

  tbody tr th:only-of-type {
    vertical-align: middle;
  }

  tbody tr th {
    vertical-align: top;
  }

  thead th {
    text-align: right;
  }

  tbody tr th:only-of-type {
    vertical-align: middle;
  }
}

.rendered_html * + table {
    margin-top: 1em;
}

.rendered_html {
  table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    color: $primary;
    font-size: 12px;
    table-layout: fixed;
  }

  thead {
    border-bottom: 1px solid $primary;
    vertical-align: bottom;
  }

  tbody tr:nth-child(odd) {
    background: $faint;
  }

  th, td {
    border: 1px solid $secondary;
  }

  tr, th, td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
  }

  tr:nth-child(odd) {
    background-color: $faint;
  }
}
