<div class="mt-5 contributing-secion">
  <h3 class="pt-2 thin-border-top">Contributing</h3>
  <p>Free and Fair Commonsense Algorithms for Society is an open-source initiative and welcomes the expansion of algorithms from members of the community. For more information on how you can volunteer your energy towards creating a new algorithm, <a href="https://github.com/bclifton/national-institute-civil-algorithms/blob/master/CONTRIBUTING.md" target="_blank" rel="noopener"><u>please read the contributions page</u></a>.</p>
</div>
