<div class="credits-section thin-border-top mt-5 pt-3">
  <p>Free and Fair Commonsense Algorithms for Society was founded in 2020 by <a href="https://twitter.com/brianclifton_" target="_blank" rel="noopener"><u>Brian Clifton</u></a>.</p>
</div>
