<footer class="container pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <hr>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://twitter.com/fafcsafs" target="_blank" rel="noopener">Twitter →</a></li>
        <li class="list-inline-item"><a href="https://github.com/free-and-fair-common-sense-algorithms" target="_blank" rel="noopener">Github →</a></li>
        <li class="list-inline-item"></li>
      </ul>
      <p>All algorithms available on this site are licensed under the <a rel="license" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.en.html" class="pb-1" target="_blank" rel="noopener"><u>GNU Lesser General Public License v2.1</u></a></p>
    </div>
  </div>
</footer>

<script>// GA</script>
