<div class="container pt-4" id="jumbotron">

  <div class="row">
    <div class="col-6">
      <div class="description mb-5">
        <p class="text-wrap">Welcome all Officials and Members of the Public</p>
      </div>
    </div>
    <div class="col-6">
      <div class="description mb-5">
        <ul class="list-group list-group-horizontal-sm list-group-flush float-right">
          <li class="list-group-item"><a href="info.html"><p class="mb-0">Information</p></a></li>
          <li class="list-group-item"><a href="#algorithms"><p class="text-right text-nowrap">Algorithms ↓</p></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="logo" class="float-right"></div>
      <h1 class="display-4 text-wrap mb-5">{{ title }}</h1>
    </div>
  </div>
  <div class="">
    <p class="pb-5 text-wrap subhead">Free and Fair Commonsense Algorithms for Society is an initiative providing open-source machine learning algorithms for assistance with difficult decisions for a range of social situations where objectivity is paramount.</p>
  </div>
</div>
