<div class="container pt-4" id="jumbotron">

  <div class="row">
    <div class="col-6">
      <div class="description mb-5">
        <p class="text-wrap">Welcome all Officials and Members of the Public</p>
      </div>
    </div>
    <div class="col-6">
      <div class="description mb-5">
        <ul class="list-group list-group-horizontal-sm list-group-flush float-right">
          <li class="list-group-item"><a href="info.html"><p class="mb-0">Information</p></a></li>
          <li class="list-group-item"><a href="#algorithms"><p class="text-right text-nowrap">Algorithms ↓</p></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="logo" class="float-right"></div>
      <h1 class="display-4 text-wrap mb-5">{{ title }}</h1>
    </div>
  </div>
  <div class="">
    <p class="pb-5 text-wrap subhead">Free and Fair Commonsense Algorithms for Society is an initiative providing open-source machine learning algorithms for assistance with difficult decisions across a range of  situations where objectivity is paramount.</p>
  </div>
  <!-- <div class="row pt-3 pb-5 description">
    <div class="col-sm">
      <p class="font-weight-bold">No Black Boxes</p>
      <p class="pb-3 pb-sm-0">All algorithms are open-source and available for the public to audit, ensuring quality and accountability.</p>
    </div>
    <div class="col-sm">
      <p class="font-weight-bold">Math-Based Solutions</p>
      <p class="pb-3 pb-sm-0">State-of-the-art machine learning techniques provide predictions that are completely free of disparate impact.</p>
    </div>
    <div class="col-sm">
      <p class="font-weight-bold">Incredibly Simple to Use</p>
      <p class="pb-3 pb-sm-0">Quickly receive recommendations simply by entering information into a simple interface.</p>
    </div>
  </div> -->
</div>
