<div class="mission-section">
  <h3 class="mb-3 pt-3 thin-border-top">Free and Fair Commonsense Algorithms for Society’s mission is to develop and promote equitable, auditable, and accessible machine learning solutions that improve the quality of life for all people equally.</h3>
  <p>Not all algorithmic decision making systems have the public’s interest in mind. When for-profit companies are employed to create public service algorithms, they bias their systems towards benefitting the client organizations while compromising the public. This is because these algorithms are designed by organizations and for organizations, instead of by the people and for the people.</p>
  <p>We believe that algorithms, when deployed in situations where an individual’s well being can be impacted, require a radical rethinking before they are put into use. Most importantly, these algorithmic decision making systems need to be designed in the interest of the public. They also need to be completely and fully auditable, and demonstrate they have the public’s interest in mind throughout every step of the development process. Lastly, they need to be free of cost, easily accessible, and simple to use. Every algorithm provided by Free and Fair Commonsense Algorithms for Society lives up to these standards. We create and provide free and impartial alternative machine learning solutions available for everyone to test, and for officials to use.
  </p>
  <p><a href="info.html"><u>Read more on the information page</u> →</a></p>

</div>
