<div class="mt-5 principles-section">
  <h3 class="pt-2 thin-border-top">Principles</h3>
  <p class="mt-3"> Free and Fair Commonsense Algorithms for Society enshrines these core principles:</p>
  <ol>
    <li><span class="font-weight-bold">Free:</span> As with all public services, algorithms should be of no cost to the consumer.</li>
    <li class="pt-1"><span class="font-weight-bold">Fair:</span> In order to ensure all are treated equally, algorithms should be completely void of any disparate impact.</li>
    <li class="pt-1"><span class="font-weight-bold">Commonsense:</span> To build trust, algorithms should be understandable and aligned with the interests of the people.</li>
  </ol>
  <p class="mt-3">FAFCSAFS provides individuals and organizations easy access to high-quality algorithmic decision making systems for various situations where fairness is paramount and human biases can severely jeopardize any outcome. With FAFCSAFS, visitors submit information through web forms and instantly receive fair and unbiased recommendations from machine learning models based on the information submitted.</p>
</div>
