{{> partials/head }}

<body>

{{> partials/nav }}

<main>
  <div class="container mb-5 pb-2">
    <div class="row mb-5">
      <div class="col-12 offset-0 col-sm-8 offset-sm-2">
        <img src="https://free-and-fair-common-sense-algorithms-for-society.org/image_sm.jpg" class="img-fluid pb-4" alt="fafcsafs logo image">
        {{>partials/about}}
        {{>partials/contributing}}
      </div>
    </div>
  </div>
  {{> partials/footer }}
</main>
</body>
</html>
